body{
    padding: 0;
    margin: 0;
}

header{
    background-color: cadetblue;
    color: white;
}

.Header-del-Sitio{
    padding:20px;
    height:80px;
    display:flex;
    flex-wrap: wrap;
}
.Header-del-Sitio img{
    width:50px;
    height:60px;
    margin: 0px 30px;
}
.Header-del-Sitio h1{
    margin: auto 0;
}

.Iconos-Redes{
    text-align: right;
    flex-grow: 1;
    font-size: 23px;
    margin-top: -20px;
    
}
.Iconos-Redes i{
    margin:0 7px;
    cursor:pointer;
}

.nav{
    height:50px;
    margin-bottom: 20px;
}
.nav ul{
    margin: 20px 0 0 0;
}
.navbar-nav li{
    padding: 2px 2px;
}
.navbar-nav li a{
    color:aliceblue;
    font-size: 19px;
    font-weight: 400;
}
.navbar-nav li a:hover{
    color:black;
}


.footer{
    display:flex;
    padding:5%;
    justify-content: space-between;
}
.Sobre-Nosotros, .Redes, .Suscribirse{
    flex:1;
    margin:5px;
    padding:10px;
    border:1px solic #ccc;
}